
.dp{
    height: 250px;
    width: auto;
    border-radius: 20px;
    margin-left: 80px;
    box-shadow: 0px 0px 20px black;
    position: absolute;
    top:50px;
    right: 100px;
    background-color: transparent;
}
.nme{
    font-size: 20pt;
}
.abt{
    text-align: left;
    margin-right: 12%;
    font-size: 16pt;
    margin-left: 80px;
    font-weight: bold;
}
.intro{
    position: absolute;
    
}
@media only screen and (min-device-width: 1200px) {
    .head{
        padding-top: 100px;
        height: 450px;
        background-color: #121212;
        color: white;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 20px black;
    }
    .abt{
        margin-left: 100px;
    }
    .dp{
        margin-right: 100px;
        margin-top: 50px ;
    }
}
@media only screen and (max-device-width: 1200px) {
    .head{
        padding-top: 50px;
        height: 400px;
        background-color: #121212;
        color: white;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 20px black;

    }
    
}
@media only screen and (max-device-width: 480px) {
    .head{
        padding-top: 50px;
        height: 350px;
        background-color: #121212;
        color: white;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 20px black;

    }
    .dp{
        visibility: hidden;
    }
    .abt{
        position: absolute;
        top: 50px;
    }
}