.whtido{
    justify-content: center;
    align-items: center;
}
.wido{
    justify-content: center;
    align-items: center;
}
.sktopimg{
    height: 80px;
    width: 80px;
}
.inf:hover{
    -webkit-animation: rotatinginf 8s linear infinite;
    -moz-animation:    rotatinginf 8s linear infinite;
    -ms-animation:     rotatinginf 8s linear infinite;
    -o-animation:      rotatinginf 8s linear infinite;
    animation:         rotatinginf 8s linear infinite;
}


@keyframes rotatinginf {
    from {
      -ms-transform:    rotateX(0deg);
      -moz-transform:   rotateX(0deg);
      -webkit-transform:rotateX(0deg);
      -o-transform:     rotateX(0deg);
      transform:        rotateX(0deg);
    }
    to {
      -ms-transform:     rotateX(3600deg);
      -moz-transform:    rotateX(3600deg);
      -webkit-transform: rotateX(3600deg);
      -o-transform:      rotateX(3600deg);
      transform:         rotateX(3600deg);
    }
  }