.navbar{
    position: absolute;
    top: 20%;
    margin: 25px 25px 25px 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style-type:none;
}
.nlink{
    height: 30px;
    font-weight: bold;
}
.nlink:hover{
    cursor: grab;
    color: grey;
}
.work{
    background-color: rgb(116, 235, 116);
    color: black;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    margin-left: -20px;
    animation: blinker 3s infinite;
}
@keyframes blinker {
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }

}