.navbar{
    position: absolute;
    top: 20%;
    margin: 25px 25px 25px 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style-type:none;
}
.nlink{
    height: 30px;
    font-weight: bold;
}
.nlink:hover{
    cursor: grab;
    color: grey;
}