.footer{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 250px;
    background-color: #121212;
    position: relative;
    bottom: 0px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 20px black;

}

.icon{
    font-size: 25pt;
    color: white;
}

#contact{
    font-size: 20pt;
    margin : 10px;
}
.sr{
    visibility: hidden;
}