@media only screen and (max-device-width : 1200px) {
    .Rpanel{
        position: fixed;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 100%;
        background-color: white;
        color: black;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
    
    @media only screen and (min-device-width: 1200px) {
        .Rpanel{
            position: fixed;
            top: 0px;
            right: 0px;
            height: 100%;
            width: 80%;
            background-color: white;
            color: black;
            overflow-y: scroll;
            overflow-x: hidden;
            
        }
}